@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
  margin: 60px auto;
  width: 65%;
  background-color: #FFFFFF;
}

.post-padding {
  width: 100%;
  height: 0px;
}


/* header and nav ----- */
.title {
  float: left;
  margin: 0;
  display: table;
  width: 600px;
  padding-top: 10px;
}

.title a {
  color: #000000;
}

header h1 {
  font-size: 36px;
}

header, nav {
  height: 120px;
  margin-top:20px;
}

header {
  vertical-align: middle;
  min-width: 900px;
}

nav ul {
  margin: 0;
  height: 100%;
  display: table;
  font-family: 'Nunito', 'Helvetica', 'Sans-Serif';
  list-style: none;
}
nav ul li {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
  font-family: 'Nunito', 'Helvetica', 'Sans-Serif';
  font-size:18px
}

nav li {
  display:inline;
  padding:10px;
}

header nav {
  list-style: center;
  float: right;
  vertical-align: middle;
}
/* ------------------------- */


/* general ----- */

a {
  text-decoration: none;
  color: #008dad;
}

a:hover {
  text-decoration: none;
  color: #05d1ff;
}

h1 {
  font-family: 'Nunito', 'Helvetica', 'Sans-Serif';
  font-size: 32px;
  font-weight:normal;
  color:black;
  padding-top:20px;
}


.extra-bold {
  font-family: 'Nunito', 'Helvetica', 'Sans-Serif';
  font-weight: 800;
}
p, ol, ol li, ul, ul li {
  font-family: 'Nunito', 'Helvetica', 'Sans-Serif';
  font-size: 16px;
  line-height: 1.6em;
  color: #45413A;
}

/* ------------------------- */


/* about section of website ----- */
.about-wide {
  display: block;
  margin-bottom:-15px;
}

.about-row {
  width: 100%;
  text-align: left;
  padding-top: 15px;
}

.about-cols {
  display: flex;
  width: 100%;
}


.profile-pic{
  width:50%;
  border-radius:50%;
}

.about-img {
  width: 60%;
  float: left;
  text-align: center;
  /* margin: 0px 0px 0px -70px */
  margin: 0px 0px 20px -100px;
}

.about-desc {
  width: 100%;
  padding-right: 20px;
  float: right;
  margin-left: -40px;
  
}

.contacts{
  margin-top: 30px;
  text-align: center
}

/* ------------------------- */

/* Research section of website --- */
.research {
    display: flex;
    position: relative;
    padding-bottom: 20px;
    margin-top:-10px;
}

.research-img {
    position: relative;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 50px;
    vertical-align: middle;
}

.research-img img {
  width: 250px;
  height: 200px;
  margin-top: -12px;
  margin-right: 20px;
}

.research-desc {
    flex: 75%;
    float: right;
    line-height: 50%;
}

.research-desc p {
    margin-bottom: -17px;
}

.project-name {
  font-family: 'Nunito', 'Helvetica', 'Sans-Serif';
  font-size:18px;
  color: #008dad;
}


.authors a{
  color : #000000;
}

.venue {
  font-family: 'Nunito', 'Helvetica', 'Sans-Serif';
  color : #000000;
  font-style: italic
  }

.award {
  font-family: 'Nunito', 'Helvetica', 'Sans-Serif';
  color: #ad0087;
  font-weight: 800
}
  

.paper-resources {
  display:inline-block;
}

/* ------------------------- */


/*  dropdowns --- */

.dropbtn {
  background-color: white;
  color: #008dad;
  font-size: 16px;
  /* padding: 16px;
  font-size: 16px; */
  font-family: "Nunito", "Helvetica", "Sans-Serif";
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  color: #008dad;
  font-size: 16px;
  font-family: "Nunito", "Helvetica", "Sans-Serif";
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #008dad;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover  {
  text-decoration: none;
  color: #05d1ff;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: none;
  color: #05d1ff;
}

/* -------------------------- */


/*  footer --- */

footer {
  margin-top:10px;
  border-top: 1px solid #D8CCB3;
}
/* -------------------------- */


/*** Works on common browsers ***/
::selection {
  background-color: #ad0087;
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #666666;
  color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: #666666;
  color: #fff;
}

::-ms-selection {
  background-color: #666666;
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: #ad0087;
  color: #fff;
}
