<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hadleigh Schwartz</title>
		<link rel="icon" href="../imgs/icons/favicon.png">
		<link rel="shortcut icon" type="image/png" href="../imgs/icons/favicon.png"/>
	  <link rel="stylesheet" type="text/css" href="../css/main.css">

  </head>
	<header>
		<div class="title"><h1><a href="/">Hadleigh Schwartz</a></h1></div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#Research">Research</a></li>
			</ul>
		</nav>
	</header>
  <body>
    <div class="container">

      {{ content }}

		</div><!-- /.blurb -->
	</div><!-- /.container -->
<footer>
	<ul>
		<li><a href="mailto:hadleigh@cs.columbia.edu">Email</a></li>
		<li><a href="https://github.com/Hadleigh-Schwartz">Github</a></li>
		<li><a href="www.linkedin.com/in/hadleigh-s-7071a81322">Linkedin</a></li>
        <li><a href="">CV</a></li>
	</ul>
</footer>
</body>
</html>
