<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hadleigh Schwartz</title>
		<link rel="icon" href="../imgs/icons/columbia.png">
		<link rel="shortcut icon" type="image/png" href="../imgs/icons/columbia.png"/>
	  <link rel="stylesheet" type="text/css" href="../css/main.css">

  </head>
	<header>
		<div class="title"><h1><a href="/">Hadleigh Schwartz</a></h1></div>
		<nav>
			<ul>
				<li><a href="#research">Research</a></li>
			</ul>
		</nav>
	</header>
  <body>
    <div class="container">

      {{ content }}

		</div><!-- /.blurb -->
	</div><!-- /.container -->
<footer>
	<p style="text-align:center">Website template from <a href="https://arjun-mani.github.io/">Arjun Mani</a>.</p>
</footer>
</body>
</html>
